*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    font-size: 0;
    width: 666px;
    border: 2px solid green;
    margin: 0 auto;
}
ul li{
    display: inline-block;
    border: 1px solid red;
    width: 200px;
    margin: 10px 10px 0;/* 上 左右 下*/
}
ul li a{
    text-decoration: none;
    /* color: #fff; */
}
ul li img{
    width: 200px;
}
ul li span{
    display: block;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #000;
}