#container {
    width: 400px;
    height: 330px;
    margin: 50px auto;
    border: 1px solid yellowgreen;
}
#container ul {
    height: 30px;
}
#container ul li {
    float: left;
    width: 99px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid yellowgreen;
    border-right: 1px solid yellowgreen;
}
#container ul li.active {
    background: red;
    border-bottom-color: black;
}
#container ul li:nth-last-child(1) {
    border-right: 0;
    width: 100px;
}
#container div div {
    display: none;
    height: 300px;
    text-align: center;
    line-height: 300px;
}
#container div div.active {
    display: block;
}